body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 40px;
    background-color: #f7f7f7;
}

#gameBoard {
    width: 360px;
    height: 360px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.cell {
    width: 120px;
    height: 120px;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}

.cell img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
